* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-bg-color);
  color: white;
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

main section:not(#title, #video) {
  margin-top: 200px;
}

/* line */
.line {
  max-width: 250px;
  position: relative;
}

.rhombus-line {
  margin: 12px 0;
  height: 1px;
  background-color: var(--line-color);
}

.rhombus-left {
  position: absolute;
  top: 50%; left: 0;
  transform: rotate(45deg) translate(0, -50%);
}

.rhombus-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
}

.rhombus-right {
  position: absolute;
  top: 50%; right: 0;
  transform: rotate(45deg) translate(0, -50%);
}

.rhombus-inside {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
}

.rhombus-outside {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--line-color);
}

/* button */
.btn {
  color: var(--primary-btn-text-color);
  background-color: var(--primary-btn-color);
  text-decoration: none;
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 35px;
  outline: 1px solid var(--line-color);
  outline-offset: 2px;
}

/* select */
select {
  color: var(--primary-btn-text-color);
  background-color: var(--primary-btn-color);
  text-decoration: none;
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 32px 8px 14px;
  outline: 1px solid var(--line-color);
  outline-offset: 2px;

  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

/* context */
p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: var(--primary-color-two);
}

a {
  font-family: 'Akshar', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color-two);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.primary-title {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  color: var(--primary-color-one);
}

.secondary-title {
  font-family: 'Akshar', sans-serif;
  font-size: 85px;
  color: var(--primary-color-two);
}

.context {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  color: var(--primary-color-two);
}

h3 {
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-color-two);
}

/* section */
.second-title {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  color: var(--primary-color-one);
}

.head-title {
  font-family: "Akshar";
  font-weight: 300;
  font-size: 32px;
  color: var(--primary-color-two);
}

.discription {
  font-family: "Akshar";
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color-two);
}

.extra-contant {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
  color: var(--primary-color-one);
}

.name {
  font-family: "Akshar";
  font-weight: 300;
  font-size: 22px;
  color: var(--primary-color-two);
}

.role {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
  color: var(--primary-color-one);
}

/* header */
header {
  height: 75px;
  background-color: var(--primary-section-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  margin: 0 15px;
}

.logo {
  height: 45%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo p {
  font-size: 22px;
  margin: 7px 0 0 3px;
  text-transform: uppercase;
}

#nav ul {
  display: flex;
  justify-content: center;
}

#nav li {
  padding: 0 30px;
}

#nav a {
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.25s;
}

#nav a:hover {
  color: var(--primary-color-one);
}

/* title */
#title {
  height: calc(100vh - 75px);
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#head-title {
  text-align: center;
  max-width: 630px;
  padding: 0 15px;
}

#head-title .head-title {
  font-size: 85px;
}

#head-title .line {
  margin: 12px auto;
  max-width: 350px;
}

#head-title .discription {
  padding: 0 15px;
  margin: 55px auto 60px auto;
}

#title .image {
  z-index: -1;
}

#title .image img {
  position: absolute;
  width: calc(100vw / 4);
  height: calc(100vh / 2 + 75px);
  object-fit: cover;
  filter: brightness(0.7);
}

#title .image img:nth-child(1) {
  top: 0;
  left: 0;
}
#title .image img:nth-child(2) {
  bottom: 0;
  left: 10%;
}
#title .image img:nth-child(3) {
  top: 0;
  right: 10%;
}
#title .image img:nth-child(4) {
  bottom: 0;
  right: 0;
}

/* about */
#about-us {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  /* height: 500px; */
  /* margin: 50px 0; */
}

#about-contant {
  margin: 0 25px;
  max-width: 450px;
}

#about-contant > *{
  margin: 15px 0;
}

#about-contant .second-title {
  margin: 0;
}

#about-contant .line {
  margin: 24px 0 24px 10px;
  max-width: 180px;
}

#about-contant .extra-contant {
  font-size: 18px;
  margin-bottom: 40px
}

#about-us .image {
  width: 600px;
  position: relative;
}

#about-us .image img {
  position: absolute;
  height: calc(100% / 2 + 15px);
  object-fit: cover;
  filter: brightness(0.7);
}

#about-us .image img:nth-child(1) {
  height: 105%;
  top: 0;
  right: 0;
}

#about-us .image img:nth-child(2) {
  bottom: -65px;
  left: 0px;
}

#about-us .image p {
  position: absolute;
  bottom: -115px;
  left: 40%;

  font-family: Allura;
  font-size: 65px;
  color: var(--primary-color-one);
}

/* menu */
#menu {
  text-align: center;
  margin: 0 auto;
  padding: 75px 55px;
  max-width: 1050px;
  background-color: var(--primary-section-color);
}

#menu-title {
  text-align: center;
  margin-bottom: 45px;
}

#menu-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin-bottom: 45px;
}

#menu .second-title {
  margin-bottom: 18px;
}

#menu .line {
  margin: 24px auto;
  max-width: 150px;
}

#menu .product {
  margin-bottom: 25px;
  max-width: 370px;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: start;
  align-items: end;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "product-title product-line product-price"
    "product-discription product-discription product-discription";
}

#menu .product-title {
  grid-area: product-title;
  font-family: Akshar;
  font-weight: 300;
  font-size: 20px
}

#menu .product-discription {
  grid-area: product-discription;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-weight: 300;
  opacity: 50%;
  margin-top: 10px;
  text-align: left;
}

#menu .product-line {
  grid-area: product-line;
  height: 1px;
  width: 90%;
  margin: 0 auto 6px auto;
  background-color: var(--primary-color-one);
}

#menu .product-price {
  grid-area: product-price;
  font-family: Akshar;
  font-weight: 300;
  font-size: 16px
}

/* video */
#video iframe {
  filter: brightness(0.7);
  width: 100%;
  height: 460px;
}

/* team */
#team {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

#team-contant {
  text-align: center;
  margin: 0 25px;
  max-width: 450px;
}

#team-contant > * {
  margin: 15px 0;
}

#team-contant .second-title {
  margin: 0;
}

#team-contant .line {
  margin: 12px auto;
  max-width: 150px;
}

#team-contant .card {
  display: flex;
  justify-content: center;
}

#team-contant .profile {
  position: relative;
  margin: 15px 25px;
  width: max(100%, 265px);
}

#team-contant .profile img {
  filter: brightness(0.7);
}

#team-contant .profile div {
  position: absolute;
  bottom: calc(0% - 41px);
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  width: 90%;
  background: #090D10;
}

/* guestbook */
#guestbook {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
  background-color: var(--primary-section-color);
}

#guestbook img  {
  max-height: 450px;
  max-width: 100%;
  margin: 0 auto;
  filter: brightness(0.7);
}

#guestbook-contant {
  margin-right: 75px;
  padding: 25px 15px;
  max-width: 400px;
}

#guestbook-contant > * {
  margin: 15px 0;
}

#guestbook-contant .second-title {
  margin: 0;
}

#guestbook-contant .line {
  margin: 24px 0 24px 10px;
  max-width: 100px;
}

/* gallery */
#gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#gallery div {
  margin: 0 auto;
  text-align: center;
}

#gallery img {
  filter: brightness(0.7);
  margin: 0 40px;
  width: 100%;
  max-width: 240px;
}

#gallery img:nth-child(even) {
  margin: 30px 0;
}

/* info */
#info {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-context {
  min-width: 160px;
  margin: 20px 40px;
  text-align: center;
}

.info-total {
  font-family: 'Akshar', sans-serif;
  font-size: 64px;
  color: var(--primary-color-one);
}

.info-discription {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
  color: var(--primary-color-two);
}

/* footer */
footer {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--primary-section-color);
}

footer div {
  margin: 0 25px;
}

footer h3, footer .logo {
  margin-bottom: 20px;
}

footer .logo {
  justify-content: center;
  height: 33px;
}

footer #contacts {
  text-align: left;
}

footer #contacts p {
  margin-bottom: 10px;
}

footer #media > p {
  max-width: 300px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
}

footer #media > p {
  max-width: 300px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
}

footer #media .icon {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

footer #media .icon a img {
  height: 20px;
  filter: brightness(0) invert(1);
}

footer #hours {
  text-align: right;
}

footer #hours p span {
  color: var(--primary-color-one);
}

footer #hours p {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  margin: 20px 0;
}

@media (width <= 1440px) {
  #gallery img:nth-child(n) {
    margin: 30px 20px;
  }
}

@media (width <= 1024px) {
  main section:not(#title, #video) {
    margin-top: 100px;
  }

  #head-title .head-title {
    font-size: 55px;
  }



  #about-us {
    grid-template-columns: 1fr;
  }

  #about-us .image {
    display: none;
  }

  #menu-content {
    grid-template-columns: auto;
  }

  #team-contant .card {
    display: block;
  }
  
  #team-contant .profile {
    margin: 25px 0 60px 0;
  }
  
  #guestbook {
    display: flex;
    flex-direction: column;
  }
  
  #info {
    margin-bottom: 100px;
  }
}

@media (width <= 768px) {
  #nav {
    display: none;
  }

  #title .image {
    display: none;
  }

  footer #contacts, footer #media,  footer #hours {
    text-align: center;
    margin: 25px;
  }
}